<table>
  <div>This is a test</div>
  <div class="none">but I should not be able to read this</div>
  <div class="article">
    <h2>This is a header</h2>
    <p>This is the first paragraph.</p>
    <p>This is the second paragraph.</p>
  </div>
  <p>Isn&rsquo;t it funny how paragraphs just happen?</p>
  {{> partial}}
</table>